<div class="btn-group">
    <button class="btn btn-primary" (click)="onAddClick()">Add</button>
    <button class="btn btn-primary" (click)="onEditClick()" [disabled]="!isValidForm()">Edit</button>
    <button class="btn btn-primary" (click)="onDeleteClick()" [disabled]="!isValidForm()">Delete</button>
</div>
<p-table #dt [columns]="cols" [value]="employees" selectionMode="single" [(selection)]="selectedEmployee" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        <div style="text-align: right">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'id'" pInputText type="number" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'firstName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                <input *ngSwitchCase="'lastName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td>{{rowData.id}}</td>
            <td>{{rowData.firstName}}</td>
            <td>{{rowData.lastName}}</td>
            <td>{{rowData.dependents.length}}</td>
        </tr>
    </ng-template>
</p-table>
<app-employee-edit (employeeUpdatedEvent)="employeeUpdated($event)"></app-employee-edit>
<app-employee-add (employeeAddedEvent)="employeeAdded($event)"></app-employee-add>